#main-container.container
  .jumbotron.mb-3
    %h1 User Information
    %br
    .container
      .row
        .col-sm
          column1
        
        .col-sm
          %h2 Performance
          %br
          .container
            .row
              .col-sm
                &p column 2
              .col-sm
                %p column 3

    


    %br

    = link_to 'Back', view_accounts, html_options = {class: "btn btn-dark"}