#task_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/task_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#view_files_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/view_files_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#upload_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/upload_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#performance_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/performance_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#contact_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/contact_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#summary_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/summary_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#view_vendors_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/view_vendors_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#approve_vendors_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/approve_vendors_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#view_question_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/view_question_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#view_accounts_button {
    border: 0;
    width: 220px;
    height: 220px;
    background-image: url("/view_accounts_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size:0;
    }

#manage_assigned_vendors_button {
    border: 0;
    width: 220px;
    height: 220px;
    font-size:0;
    background-image: url("/manage_workflows_button.jpg");
    background-size: 100%;
    border: 2px solid #080808;
    border-radius: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    }