.settings{
	text-align: center;
}

#settings{
	text-align: center;
	background-color: white;
}

.editButton{
	margin-top: 2%
}

.jumbotron.mb-3{
	padding-top: 1%;
}

.text_display{
	font-size: 20px;
	display: inline-block;
}

.text_title{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

.blackBoarder{
	border: 2px solid #080808;
    border-radius: 10%;
}

form{
	display:inline;
}