.bar_Title{
    font-size: 16px;
    margin-bottom: 2%;
    text-align: center;
}  

.ratio0{
    text-align: center;
    color: black;
}  

.jumbotron.mb-3.inside_div{
    padding: 10%;
}

.submit_button{
    padding-bottom: 1%;
}